//colors - base
$white: #ffffff;
$background: #ebedf5;
$text: #191919;

//colors - types
$normal:#c7ccce;
$poison: #b090c1;
$psychic: #db75ae;
$grass: #8bbe8a;
$ground: #c4943f;
$ice: #62cdc1;
$fire: #ffa756;
$rock: #bca584;
$dragon: #9a9dcb;
$water: #58abf6;
$bug: #8cb331;
$dark:#5a595d;
$fighting: #eb4971;
$ghost: #636298;
$steel: #447f9c;
$flying: #b5bbd3;
$electric: #f2cb55;
$fairy: #eab8cf;


//font sizes

$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large-medium:25px;
$large: 20px;
$x-medium: 17px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

